.Form {
  padding: 1.5rem;
  background-color: #fff;
  box-shadow: 0 0.0625rem 0.0625rem #0000001c;
  min-width: calc(100% - 3rem);
}

.Form__controls {
  margin-top: 2rem;
}
.Form__controls > button + button {
  margin-left: 0.5rem;
}

.Form__footer {
  margin-bottom: 0;
}

.Form .Error {
  margin-bottom: 0;
}
.Form .Error + .Form__controls {
  margin-top: 1rem;
}

@media all and (min-width: 30rem) {
  .Form {
    min-width: 18rem;
    max-width: 18rem;
  }
}
