.RackItem {
  display: flex;
  align-items: center;
}
.RackItem > * {
  padding: 0.75rem 0.375rem;
}
.RackItem__info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.RackItem__infoName {
  flex-grow: 1;
}

.RackItem__controls {
  flex-shrink: 0;
}
.RackItem__controls button + button {
  margin-left: 0.375rem;
}
.RackItem__controls button {
  background-color: transparent;
  border: none;
}

.RackItem .Error {
  flex-basis: 100%;
  margin: 0;
  text-align: center;
}
