.ViewRacks {
  padding-top: 4.5rem;
}

.ViewRacks__wrapper {
  padding: 1rem 1.5rem;
}

@media all and (min-width: 50rem) {
  .ViewRacks__wrapper {
    max-width: 64rem;
    align-self: center;
    margin: 0 auto;
  }
}
