@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  position: relative;
  margin: 0;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #706b6d;
  background: #f8f2f4;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}
ul > li {
  list-style: none;
}

a {
  color: #5e4352;
}
a:hover {
  color: #c08497;
}

/* React generated element */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media all and (min-width: 30rem) {
  body {
    background: #f8f2f4 url('./assets/images/background.jpg') top center
      no-repeat;
  }
}
