@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
  position: relative;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f8f2f4 url('./assets/images/background.jpg') top center no-repeat;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1rem;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}
ul > li {
  list-style: none;
}

/* React generated element */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
