.RacksList {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 1rem 0 0;
  padding: 0;
}
.RacksList > li {
  align-self: start;
}
.RacksList__add {
  padding: 1rem 1.5rem;
  list-style: none;
  box-shadow: 0 0.0625rem 0.0625rem #0000001c;
  background-color: #fff;
  font-weight: bold;
  text-align: center;
}

@media all and (min-width: 50rem) {
  .RacksList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media all and (min-width: 64rem) {
  .RacksList {
    grid-template-columns: repeat(3, 1fr);
  }
}
